/* Panel-container css */
.panel-container {
  height:100vh;
  width: 97vw;
  margin-left: 20px;
  padding: 5px;
  background-color: rgb(62, 59, 59);
}
/* heading css */
/* .panel-container h1 {
  color: rgb(207, 150, 26);
  font-size: 34px;
  margin-left: 200px;
} */
/* movie-list css */
.movie-list {
  height: 200px;
 
}
/* movie-item css */
.movie-item {
  display: flex;
  flex-direction: row;
}
/* movie-poster css */
.movie-poster {
  margin-top: 10px;
  height: 150px;
  width: 200px;
}
/* movie-info css */
.movie-info {
  color: rgb(220, 153, 7);
  margin-top: 30px;
  margin-left: 20px;
}
/* rating css */
.rating {
  margin-top: 20px;
  margin-left: 10px;
}
