.table{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
}
.row{
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
}
 
.multi{
     font-size: 15px;
     
}