/* container css */
.container {
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 500px;
  border: 3px solid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
/* h1 select css */
.select {
  font-size: 30px;
  color: black;
  margin-left: 20px;
  text-align: center;
}
/* h2 css */
h2 {
  font-size: 20px;
  color: black;
  text-align: center;
}
/* fruit-list css */
.fruit-list {
  width: 100px;
  height: 40px;
  background-color: lightblue;
  margin-left: 160px;
}
